<p id="notice"><%= notice %></p>

<h1>Sectores</h1>

<% if current_user.role == "admin"%>
<%= link_to 'Agregar Sector', new_sector_path ,:class => "btn btn-primary" %>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Cod</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sectors.each do |sector| %>
      <tr>
        <td><%= sector.nombre %></td>
        <td><%= sector.cod %></td>
       
         <% if  current_user.role == "admin"  %>
        <td><%= link_to 'Editar', edit_sector_path(sector),:class=>"btn btn-warning" %>
           <td><%= link_to 'Eliminar', sector, method: :delete, data: { confirm: 'Are you sure?' } , :class=>"btn btn-danger" %></td> 
         <% end %>


      </tr>
    <% end %>
  </tbody>
</table>

<br>

  
