<p id="notice"><%= notice %></p>

<p>
  <strong>Sector:</strong>
  <%= @user.sector.nombre %>
</p>

<p>
  <strong>Role:</strong>
  <%= @user.role %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @user.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @user.apellido %>
</p>

<%= link_to 'Editar', edit_user_path(@user) %> |
<%= link_to 'Volver atras', users_path %>
