

<p id="notice"><%= notice %></p>
<h1>Lista de cajas </h1>
<!-- <%=form_tag({:controller=>"boxes",:action=>"pedir_cajas"},:method=> "post") do %> -->
<!--  <%= submit_tag "Pedir" , :class=>"btn btn-success"%>  -->
<%end%>

<br>
<br>

<%= form_tag boxes_path , :method => 'get' do %>

<%= text_field_tag :search , params[:search] %>
<%= submit_tag "buscar" ,:class=> "btn btn-info" %> 
<% end %>

<!-- Solamente puede agregar una CAJA EL JEFE -->
 <% if current_user.role == "jefe" or current_user.role == "admin" %>
<%= link_to 'agregar caja', new_box_path,:class => "btn btn-primary"%>
 <br></br> <br></br>
 <% end %>


<table class="table">
  <thead>
    <tr>
      <th>Descripcion</th>
      <th>Sector</th>
      <th>Category</th>
      <th>Codigo</th>
      <th>Ubicacion</th>
      <th>Precinto a</th>
      <th>Precinto b</th>
      <th>Fecha</th>
     <!-- <th>Solicitar</th> -->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @boxes.each do |box| %>
      <tr>
          <% if current_user.role =="admin" or current_user.role =="jefe" or current_user.role == "auxiliar"%>
        <td><%= box.descripcion %></td>
          <% else %>
         <td> <% "  " %></td>
        <% end %>

        <td><%= box.sector.nombre %></td>
        <td><%= box.category.nombre %></td>
        <td><%= box.codigo %></td>

        
         <!-- La asignacion de la ubicacion no debe estar disponible para el jefe del sector esto es tarea del perfil archivador o admin-->
        <% if current_user.role == "archivador" or current_user.role == "admin"  %>
        <td><%= box.ubicacion%></td>
  
        <% else %>        
           <td>   </td>
        <% end %>
        <td><%= box.precinto_A %></td>
        <td><%= box.precinto_B %></td>
        <td><%= box.fecha %></td>

       <!-- <td><input name=boxes[] value="<%= box.codigo %>" type="checkbox"></td> -->
         <td><%= link_to 'Ver', box ,:class=> "btn btn-info" %></td> 
        <% if  current_user.role == "admin"%>
          <td><%= link_to 'Editar', edit_box_path(box),:class=>"btn btn-warning" %></td>
          <td><%= link_to 'Eliminar', box, method: :delete, data: { confirm: 'Are you sure?' } ,:class=>"btn btn-danger"%></td>
          <td><%= link_to 'Pedir', boxes_getBox_box_path(box),:class=>"btn btn-primary" %></td>
        <% end %>

        <% if  current_user.role == "jefe"  %>
         <td><%= link_to 'Editar', edit_box_path(box),:class=>"btn btn-warning" %></td>
         <!--<td><%= link_to 'Eliminar', box, method: :delete, data: { confirm: 'Are you sure?' } ,:class=>"btn btn-danger"%></td> -->
         <!-- Generar codigo de barras -->
         <!--<td><%= link_to 'Codigo', boxes_getPng_box_path(box),:class=>"btn btn-success" %></td>-->
         <td><%= link_to 'Pedir', boxes_getBox_box_path(box),:class=>"btn btn-primary" %></td>
         <td><%= link_to 'Etiqueta', box_boxes_getAll_path(box),:class => "btn btn-success"%></td>      
         <% end %>

        
         <!-- El archivador puedo solamente MODIFICAR la ubicacion de la CAJA-->
         <% if  current_user.role == "archivador"  %>
        <td><%= link_to 'Asignar Ubicacion', edit_box_path(box),:class=>"btn btn-warning" %></td>       
         <% end %>
        

         <!-- Operaciones que puede realizar el auxiliar del sector -->
         <% if  current_user.role == "auxiliar"  %>
         <td><%= link_to 'Pedir', boxes_getBox_box_path(box),:class=>"btn btn-primary" %></td>
         <td><%= link_to 'Editar', edit_box_path(box),:class=>"btn btn-warning" %></td>
         <td><%= link_to 'Etiqueta', box_boxes_getAll_path(box),:class => "btn btn-success"%></td>     
         <% end %>

      

      
      </tr>
    <% end %>
  </tbody>
</table>

<br>

