<p id="notice"><%= notice %></p>

<h1> Categorias</h1>
<%= link_to 'Agregar Categoria', new_category_path , :class => "btn btn-primary" %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Cod</th>
      <th>Sector</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.nombre %></td>
        <td><%= category.cod %></td>
        <td><%= category.sector.nombre %></td>

        <!--<td><%= link_to 'Show', category %></td> -->
        <td><%= link_to 'Editar', edit_category_path(category) ,:class=>"btn btn-warning"%>


        <% if  current_user.role == "admin" %>
        <%= link_to 'Eliminar', category, method: :delete, data: { confirm: 'Are you sure?' } ,:class=>"btn btn-danger"%></td>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

