
<!-- Comento los enlaces por que ... ya tengo las cosas en el proyec-->
<!--<script src="https://code.jquery.com/jquery-1.7.2.min.js"></script>-->
<!-- Versión compilada y comprimida del CSS de Bootstrap -->
<!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">--> 
<!-- Tema opcional -->
<!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap-theme.min.css">-->
<!-- Versión compilada y comprimida del JavaScript de Bootstrap -->
<!--<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>-->
<!-- para hacer la parte grafica de estadisticas -->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.bundle.js"></script>-->
<!-- para hacer la parte grafica de estadisticas -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.bundle.js"></script>

<!DOCTYPE html>


<head>
  <title>Gestor Box</title>
   <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<center>
<body >

<nav class="navbar navbar-inverse" role="navigation">
  <!-- El logotipo y el icono que despliega el menú se agrupan
       para mostrarlos mejor en los dispositivos móviles -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse"
            data-target=".navbar-ex1-collapse">
      <span class="sr-only">Desplegar navegación</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/welcome/index">GestorBox 2016</a>
  </div>
  <!-- Agrupar los enlaces de navegación, los formularios y cualquier
       otro elemento que se pueda ocultar al minimizar la barra -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
    <!-- Control de acceso a las operaciones en el sistema -->
    <% if user_signed_in? %>   
      <% if current_user.role == "admin" %> <!-- Si es admin -->
      <li><a href="/users">Usuarios</a></li>
      <li><a href="/sectors">Sectores</a></li>
      <li><a href="/categories">Categorias</a></li>
      <li><a href="/boxes">Cajas</a></li>
      <li><a href="/histories">Historial</a></li>
      <li><a href="/welcome/estadistica">Estadisticas</a></li>

      <% end %>
    <% if current_user.role == "jefe" %> <!-- Si es Jefe -->
      <li><a href="/sectors">Sectores</a></li>
      <li><a href="/categories">Categorias</a></li>
      <li><a href="/boxes">Cajas</a></li>
      <li><a href="/histories">Historial</a></li>
      <li><a href="/welcome/estadistica">Estadisticas</a></li>
      <% end %>
    <% if current_user.role == "archivador" %> <!-- Si es Archivador  -->
      <li><a href="/sectors">Sectores</a></li>
      <li><a href="/boxes">Cajas</a></li>
      <li><a href="/histories">Historial</a></li>
      <li><a href="/welcome/estadistica">Estadisticas</a></li>
    <% end %> 

     <% if current_user.role == "auxiliar" %> <!-- nuevo perfil -->
     <li><a href="/sectors">Sectores</a></li>
     <li><a href="/boxes">Cajas</a></li>   
     <li><a href="/welcome/estadistica">Estadisticas</a></li>
     <li><a href="/histories">Historial</a></li>
     <li><a href="/categories">Categorias</a></li>
      <% end %>

    <% end %>

    </ul>
 <!--

    <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Buscar">
      </div>
      <button type="submit" class="btn btn-default">Buscar</button>
    </form>
  
-->

<% if user_signed_in? %>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
         <small >Usuario : <%= current_user.email %>  </small> <b class="caret"></b>
        </a>
       
   
        

          
        <ul class="dropdown-menu">
        <li><a href=""><small>Usuario : <%= current_user.email %>  </small> <b></b></a></li>
         <% if current_user.role == "admin" or current_user.role == "jefe" or current_user.role == "archivador" or current_user.role == "auxiliar"%>
          <li><a href="#"><small> Sector : <%= current_user.sector ? current_user.sector.nombre : 'sin sector' %>  </small></a></li>
           <% end %>
          <li><a href="#"><small>Tipo de perfil : <%= current_user.role %></small></a></li>
          <li><a href="#"><small><%= link_to 'Editar Perfil', edit_user_registration_path %></small></a></li>
          <li class="divider"></li>
          <a href="#"><%= link_to "Salir", destroy_user_session_path, method:  :delete, :class => "btn btn-danger btn-sm" %></a>
             <li class="divider"></li>
       
        </ul>
      </li>
    </ul>

     
<% end %>
 




  </div>
 


</nav>



 <p class="notice"><%= notice %></p>
 <p class="alert"><%= alert %></p>


<%= yield %>

</body></center>
</html>
